.task1-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.task-description {
    color: #666;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.placeholder {
    padding: 3rem;
    text-align: center;
    background: #f5f5f5;
    border-radius: 8px;
    color: #999;
    
    .select-container {
        width: 250px;
    }

    h4 {
        text-align: left;
        color: black;
    }
}

.hint {
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #aaa;
}